POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=aegisx
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

AEGISX_DEMO_MODE=true
AEGISX_SESSION_SECRET=change_this_in_production
AEGISX_LOG_LEVEL=INFO
